# ============================================
#   GITIGNORE - TPIntegrador_Grupo83 (UTN)
#   Compatible con NetBeans (Ant)
#   Corregido para que al clonar el repositorio lo veamos como "Project"
# ============================================

# --- Carpetas de compilación ---
/build/
/dist/

# --- Archivos temporales del IDE ---
*.class
*.log
*.tmp


# --- Archivos del sistema ---
.DS_Store
Thumbs.db
desktop.ini

# --- Archivos de copia de seguridad ---
*~

# --- Archivos o carpetas que no deben subirse ---
# /sql/pruebas_temp.sql
# /docs/borradores/


